body{
    background-color: azure;
}

header{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 350px;
    padding: 10px 40px;

}

header a{
    color: black;
    text-decoration: none;
}

.btn-home img {
    filter: brightness(0);
}

.pesquisa{
     filter: brightness(0);
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}